
h1{
	text-align: center;
	font-size: 36px;
	font-family: sans-serif;
}

.headerIMG {
	display: block;
	margin: auto;
	width: 80%;
	height: 300px;
	padding-bottom: 50px;
}

.subIMG figure img{
	display: block;
	height: 200px;
	width: 250px;
	margin: auto;
	padding-right: 20px;
	border: solid 2px;
	border-color: black;
}

figure {
	height: 200px;
	width: 250px;
	margin: auto;
	padding-bottom: 25px;
	display: block;
}

figcaption{
	text-align: center;
}

figure:hover {
	text-decoration: underline;

}
